dash==1.0.0
gunicorn==19.9.0
Pillow~=8.2
scipy==1.4.1
numpy==1.18.5
pandas==1.2.4
Flask==1.0.1
dash-player==0.0.1

# # To create the video annots - TODO: update web app to use IoT Hub messages
# tensorflow~=2.4
# opencv-python~=4.5.2.52
# matplotlib==3.4.2

# For AVA app
certifi==2020.12.5
azure-iot-device==2.7.0
azure-iot-hub==2.4.0
